doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript",src="http://libs.baidu.com/jquery/1.9.1/jquery.js")
    script(type="text/javascript",src="/javascripts/index.js")
  body
    block content
